.bg-facets {
    background-size: 1250px;
    background-position: center 0px;
}

.bg-facets {
    background-image: url(http://localhost:3001/facets.png);
    background-position: center 0px;
    background-size: 1000px;
    background-repeat: repeat-x;
}

main {
    display: block;
}

#logo {
    width: 43.55px;
    height: 48px;
}

#logoBox {
    width: 140px;
    height: 48px;
}

#logoTitle {
    color: #373b3f;
    border:0 solid;
    font-weight:650;
    font-size: 20px;
    padding-left: 5px;
    top: 5px;
    position: relative;
}

#signUp {
    background-color: #1cc29f;
    color: blanchedalmond;
    height: 40px;
    text-decoration: none;
}

#logIn {
    position: relative;
    left: 530px;
    color:#1cc29f;
    text-decoration: none;
}